body {
    background: #eaeaea ;
}
.closeicon {
    font-size:1.4em;
    color: #7f0000;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
}
.closeicon:hover {
    color: #ff3232;
    transform: all 250ms ease-in;
}
h2 {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
.addItem {
    display: flex;
    justify-content: center;
    width: 25%;
    margin: 0 auto;
}
.addItem input {
    font-style: italic;
    height: 60px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.button.expanded {
    width: 8%;
    position: absolute;
    right: 31%;
    height: 60px;
}
.addBtn {
    font-weight: 700;
    text-transform: uppercase;
}
.addItemFiled {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: 10px solid #93837b
}
.listContent {
    display: flex;
    justify-content: center;
}
.listContent ul {
    list-style: none;
    padding: 0;
    margin: -15px 0 0 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.listContent ul li {
    display: flex;
    justify-content: space-between;
    width: 450px;
    background: #fff;
    align-items: center;
    margin: -2px 0 0 -31px;
    height: 50px;
    text-indent: 5px;
    font-style: italic;
    border: 2px solid #93837b;
}