<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <title>Angular to do app</title>
</head>

<body ng-app="App">
    <h2>TO DO APP</h2>
    <div ng-controller="Ctrl">
        <div class="addItem">
            <input class="addItemFiled" type="text" ng-model="newItem.name" placeholder="What needs to be done?" />
            <button class="success button addBtn expanded" ng-click="items.push({name: newItem.name})">Add item</button>
        </div>
        <div class="listContent">
            <ul>
                <li ng-repeat="item in items">
                    {{item.name}}
                    <button ng-if="items.length > 0" ng-click="items.splice($index,1)"><i class="fas fa-times closeicon"></i></button>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>